.product-list {
    display: flex;

    .title {
        color: #999999;
    }

    .details-box {
        padding: 0 1em;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;

        > :nth-child(n) {
            display: flex;
            justify-content: center;
            box-shadow: 0.4em -1px 9px #999999a6;
            border-radius: 0.5em;
            width: 11em;
            height: auto;
            margin: 2em;
            flex-direction: column;
            align-items: center;

            hr {
                margin: 0;
                width: 100%;
                border: 1px solid rgb(243, 243, 243);
            }
        }
    }

    .product-image {
        width: 5em;
    }
}

.category-list {
    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;

        li {
            text-align: center;
            border-radius: 1em;
            border: 2px solid #ede61a5c;
            box-shadow: 3px 2px #e7b5015e;
            padding: 1em;
            width: 5em;
        }
    }
}

.float-left {
    float: left;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;

    button {
        padding: 0.5em;
        border: none;
        width: 4em;
        text-align: center;
        cursor: pointer;
    }

    .add {
        background-color: #6de96dc2;
        border-radius: 0 0.5em 0.5em 0;
    }

    .remove {
        background-color: #ec3535;
        border-radius: 0.5em 0 0 0.5em;
    }
}
